name: CI

permissions:
  contents: read

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    name: Test / ${{ matrix.python }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python: ["3.8", "3.9", "3.10", "3.11", "3.12", "pypy-3.8", "pypy-3.9", "pypy-3.10"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true

      - name: Install tox
        run: python -m pip install tox

      - name: Run tests
        run: python -m tox -e py -- --verbose

  docs:
    # Test documentation builds.
    # This environment mirrors the ReadTheDocs build environment.
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install tox
        run: python -m pip install tox

      - name: Run tests
        run: python -m tox -e docs
